.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-menu-course {
    padding: 0px 5rem;
}
h5 {
    color: rgb(134, 169, 55);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}
.container-content-wrap {
    background: rgb(246, 247, 248);
    width: 100%;
    height: 100%;
}
