@import 'normalize.css';

:root {
    --primary: #99ffff;
    --color-red: #ff3333;
    --color-yellow: #ffff66;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.42857143;
    text-rendering: optimizeSpeed;
}
