@import 'normalize.css';

:root {
    --primary: #99ffff;
    --color-green: #44a500;
    --color-orange: #e29000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: OpenSans, sans-serif !important;
    font-size: 16px;
}

body {
    line-height: 1.42857143;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

ol,
ul {
    padding-left: 0px !important;
}

img {
    padding-top: 0px !important;
}
