.wrap-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.span-home {
    color: var(--color-green);
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.list-subject {
    margin-top: 15px;
    border: 1px solid #f0f0f0;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.list-subject:hover {
    border: 1px solid var(--color-green);
    cursor: pointer;
}

.list-subject:hover > .detail {
    color: var(--color-green);
    background-color: var(--primary);
}

img {
    width: 70px;
    padding-top: 10px;
}

.list-subject > div {
    padding-right: 10px;
}

.contain {
    flex: 1;
}
.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
    color: var(--primary);
    background-color: var(--color-green);
}
