button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Chia form thành 2 cột */
    gap: 5px; /* Khoảng cách giữa các phần tử */
}

label {
    align-self: flex-start; /* Căn label lên đầu cột */
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wrap-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 50px;
    z-index: 10000;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.wrap {
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(61, 99, 71, 0.1);
    z-index: 1;
}

.cusor-pointer {
    cursor: pointer;
}
.display-none {
    display: none;
}
