.sidebar {
    height: 4rem;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}

.sidebar:hover {
    background: linear-gradient(0deg, #04b19a, #99ffff);
    color: white;
    cursor: pointer;
}

.sidebar:hover > .span-sidebar {
    color: white;
}

.span-sidebar {
    color: #333;
    width: 100%;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
    background: linear-gradient(0deg, #04b19a, #99ffff);
    color: white;
    cursor: pointer;
}

.logoSubject {
    width: 30px;
    margin-top: 5px;
}

.container-menu-subject-ly-thuyet {
    background-color: #fff;
    width: 100%;
    // max-height: 700px;
    // overflow-y: auto;
    // overflow-x: hidden;
}
.container-subject-ly-thuyet,
.sidebar {
    height: 40px;
    background-color: #e3f0da;
}
.container-subject-ly-thuyet {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.wrap-menu-ly-thuyet {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}
.abc {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 330px;
}
