.container-courses > h4 {
    font-weight: 600;
    font-size: 1rem;
}

span.span-course {
    text-transform: none;
    font-weight: bold;
}

.a-course {
    gap: 1rem;
    min-width: 180px;
    min-height: 170px;
    padding: 1rem;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    background: #fff;
}
